.removePaddBottom {
  padding-bottom: 0 !important;
}
.gradientBgColor {
  background-color: #a0b4cc;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#a0b4cc),
    to(#c2a899)
  );
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #a0b4cc, #c2a899);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #a0b4cc, #c2a899);
  /* IE 10 */
  background: -ms-linear-gradient(top, #a0b4cc, #c2a899);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #a0b4cc, #c2a899);
}
.minHeight {
  width: 100%;
  height: 100vh;
}
.headerWrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  height: 15vh;
  padding-left: 75px;
}
.headerDescription {
  font-size: 20px;
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  flex: 1;
}
.headerDescription a {
  color: #fff;
}
.headerDescription a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.loginBtn {
  text-align: right;
  padding-right: 75px;
}
.loginBtn button {
  background-color: #f93c18;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  font-family: "raleway";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 25px;
  text-transform: uppercase;
}
.loginBtn button:hover {
  background-color: #e0270e;
}
.loginBtn button:focus {
  outline: none;
}
.mainWrapper {
  padding-left: 75px;
  width: 100%;
  float: left;
  height: 85vh;
  display: flex;
  align-items: center;
}
.description {
  font-size: 16px;
  padding-bottom: 10px;
}
.appstackWrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  float: left;
  color: #606060;
}
.arrow {
  position: absolute;
  right: -100px;
  top: 10px;
  z-index: 1;
}
.arrow img {
  width: 120px;
  display: inline-block;
}
.appStack {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}
.appStack i {
  font-size: 16px;
}
.appStackIconWrapper {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.appStackIcon img {
  width: 80%;
}
.footer {
  padding-top: 10px;
  text-align: center;
  clear: both;
  font-size: 14px;
  color: #3c3737;
}
.footer a {
  color: #3c3737;
}
.footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3c3737;
}
.footer i {
  color: #b51d04;
  margin: 0 5px;
}
.tutorialImg {
  position: absolute;
  right: 0;
  text-align: right;
}
.tutorialImg img {
  width: 95%;
  display: inline-block;
}
.removePaddLeft {
  padding-left: 0;
}

@media (max-width: 767px) {
  .headerWrapper {
    display: block !important;
  }
  .headerDescription {
    text-align: center;
    padding-bottom: 10px;
  }
  .loginBtn {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .headerWrapper {
    display: flex;
    padding: 15px 0;
    padding-left: 0;
    height: auto;
  }
  .mainWrapper {
    padding-left: 0;
    height: auto;
  }
  .minHeight {
    height: auto;
    min-height: 100vh;
  }
  .loginBtn {
    padding-right: 0;
    padding-bottom: 15px;
  }
  .appstackWrapper {
    padding: 20px;
  }
  .appStack {
    display: flex;
  }
  .flexWidth {
    flex: 1;
  }
  .description {
    padding-left: 10px;
  }
  .appStackIconWrapper {
    padding-left: 10px;
  }
}
